.owl-carousel {
  width: 100%;
  height: 320px;
  max-height: 330px;
}

.owl-carousel .owl-item .login_img {
  float: right;
  width: 400px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 3rem;
}

.owl-dots {
  position: fixed;
  padding: 3rem 1.2rem;
  display: flex !important;
  flex-direction: column;
  transform: translateY(-240px);
}

.owl-dots button {
  border-radius: 5rem;
  margin: 0.3rem 0;
}

.owl-dots button span {
  background: var(--text-color) !important;
  margin: 0rem 0.6rem !important;
}

.owl-dots .active {
  border: 1px solid #ffd765 !important;
}

.owl-dots .active span {
  background: #ffd765 !important;
  margin: 0.3rem 0.5rem !important;
}

.aboutUss {
  padding: 40px 0;
  /* background: #f1f1f1; */
  color: #2196f3;
  text-align: center;
}
.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border {
  width: 160px;
  height: 5px;
  background: #6ab04c;
  margin: 26px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.about {
  background: #fff;
  padding: 30px;
}
.about img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars {
  color: #6ab04c;
  margin-bottom: 20px;
}

/* Responsive code from heree */
@media screen and (max-width: 960px) {
  .col {
    flex: 100%;
    max-width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .col {
    flex: 100%;
    max-width: 100%;
  }
}

/* login page design */
